@model Documentation.Service.Models.Role

@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Rol Ekle</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Rol Adı</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
                <br />
            </div>
           
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
